/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

@import url("components/button.css");

@import url("components/social_media_list.css");

@import url("components/cards.css");

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */
.header,
.footer {
  background-color: #1F2937;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 72px;
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

.header .links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 32px;
}

.header a {
  font-size: 18px;
  color: #E5E7EB;
}

#banner {
  height: 500px;
  background-image: linear-gradient(#1F2937FF, #1F293733, #1F293733), url("../images/background.png");
  background-size: cover;
  background-position: center;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner h1 {
  font-size: 48px;
  color: #F9FAF8;
  margin: 0;
}

#banner p {
  font-size: 18px;
  color: #E5E7EB;
  margin: 0 0 16px 0;
}

.container .title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #1F2937;
  margin: 48px;
}

.quote-section {
  background-color: #E5E7EB;
  padding: 0 25%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote-section .quote {
  font-size: 36px;
  font-weight: light;
  color: #1F2937;
}

.quote-section .author {
  text-align: end;
}

.footer {
  text-align: center;
  padding: 40px;
  /* height: 300px; */
}

.footer h2 {
  color: whitesmoke;
}

.footer p {
  color: whitesmoke;
}
